<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cadocuir</title>
    <link rel="stylesheet" href="stylesheets/reset.css" >
    <link rel="stylesheet" href="stylesheets/style.css" >
</head>

<body>
    <%= title %>
</body>

</html>